<h1>Add a Product</h1>

<form (ngSubmit)="onSubmit()">
  <table>
    <tbody>
    <!--
    This is where the form and validation goes
    -->

    <!--
    Validation of the sku
    TODO: Must be a 7 digit number, Must Exist
    -->
    <tr>
      <td>
        <span [ngClass]="{'invalidLabel': skuExists || sku.invalid}"> SKU
          <span *ngIf="skuExists && (sku.pristine && sku.untouched)">SKU EXISTS</span>
          <span *ngIf="sku.invalid &&(sku.errors?.['min'] != null && sku.errors?.['max'] != null)">SKU NEEDS TO BE A 7 DIGIT NUMBER</span>
          <span *ngIf="sku.invalid && (sku.touched || sku.dirty) && (sku.errors?.['required'] != null)">SKU MUST NOT BE BLANK</span>
        </span>
      </td>
      <td><input type="number" required min="1000000" max="9999999" name="sku" [(ngModel)]="product.sku" #sku="ngModel"></td>
    </tr>

    <!--
    Validation of name
    TODO: Must not be larger than 30 characters, must exist
    -->

    <tr>
      <td>
        <span [ngClass]="{'invalidLabel': name.invalid && (sku.dirty && sku.touched)}">NAME
        <span *ngIf="name.invalid && (sku.dirty && sku.touched) && (name.errors?.['required'] != null)"> Cant be blank</span>
        <span *ngIf="name.invalid && (sku.dirty && sku.touched) && (name.errors?.['maxlength'] != null)"> Cant be longer than 30 characters</span>
        </span>
      </td>

      <td><input type="text" required maxlength="30" name="name" [(ngModel)]="product.name" #name="ngModel"></td>
    </tr>

    <!--
    Validation of Description
    TODO: Must not be larger than 300 characters, must exist
    -->

    <tr>
      <td>Description</td>

      <td><input type="text" name="description" [(ngModel)]="product.description" #description = "ngModel"></td>
    </tr>



    <!--
    Validation of Category
    TODO: Must not be larger than 30 characters, must exist
    -->


    <tr>
      <td>Category</td>

      <td><input type="text" name="category" [(ngModel)]="product.category" #category = "ngModel"></td>
    </tr>


    <!--
    Validation of price
    TODO: Must not be larger than 30 characters, must exist
    -->

    <tr>
    <td>
      <span [ngClass]="{'invalidLabel' : price.invalid}"> PRICE

      </span>
    </td>

     <td><input type = "text" required min="0"  name="price" [(ngModel)]="product.price" #price = "ngModel"></td>


    </tr>

    <tr>
      <td colspan="2"><input type="submit" value="Add Product"><input type="reset" aria-valuemax="Reset"></td>
    </tr>




    </tbody>
  </table>
</form>
