<h1>Detail of: {{sku}}</h1>
<table>
  <tbody>
  <tr>
    <td>SKU: </td>
    <td>{{p.sku}}</td>
  </tr>
  <tr>
    <td>Name: </td>
    <td>{{p.name}}</td>
  </tr>
  <tr>
    <td>Description: </td>
    <td>{{p.description}}</td>
  </tr>
  <tr>
    <td>Category: </td>
    <td>{{p.category}}</td>
  </tr>
  <tr>
    <td>Price: </td>
    <td>{{p.price}}</td>
  </tr>
  </tbody>
</table>


<button (click)="editProduct()">Edit me</button>
<button  href="/list" (click)="deleteProduct();">Delete Me</button>


