<div name="search" class="search" xmlns="http://www.w3.org/1999/html">
  <form>
  <span>Search For a Product
    <input (input)="onSearch()" type="text" name="search" [(ngModel)]="search">
  </span>
  </form>
</div>

<h1>List of Products</h1>


<table>

  <tr>
    <th><a (click)="sortSku()">SKU</a></th>
    <th><a (click)="sortName()">Name</a></th>
    <th><a (click)="sortPrice()">Price</a></th>
    <th>Edit?</th>

  </tr>
  <tr *ngFor="let product of products">
    <td><a [routerLink]="['/product', product.sku]">{{product.sku}}</a></td>
    <td>{{product.name}}</td>
    <td> {{product.price}}</td>
    <td><a [routerLink]="['/editproduct', product.sku]">Edit me</a></td>
  </tr>

</table>
