body{
  background-color: lavenderblush;
  display: flex;
  flex-direction: column;
  font-family: Arial;
}
a {
  color: black;
  text-decoration: none;
}

.invalidLabel{
  color: red;
}

.invalidButton{
  cursor: not-allowed;
  background-color: darkblue;
}

